.label .text {
  color: black;
  font-size: 15px;
  line-height: 12px;
  padding: 0px;
  font-weight: 400;
  transition: all 0.1s linear;
}

.label input[type="checkbox"]:checked + .text {
  color: white;
}

input[type="radio"], input[type="checkbox"] {
  height: 30px;
  width: 30px;
  accent-color: #20a564;
  border-radius: 0;
}

.sradio-label {
  cursor: pointer;
  input {
    display: none;
  }
}

.sradio-label span {
  position: relative;
  display: flex;
  align-items: center;
}

.sradio-label span:before,
.sradio-label span:after {
  content: "";
}

.sradio-label span:before {
  border: 1px solid #20a564;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 2px;
  display: inline-block;
  padding-top: 2px;
}

.sradio-label span:after {
  background: #20a564;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 7px;
  left: 3px;
  transition: 300ms;
  opacity: 0;
}

.sradio-label input:checked + span:after {
  opacity: 1;
}
