/* From Uiverse.io by m1her */
.radio-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: -1;
}

.radio-input input {
  display: none;
}

.radio-input .label {
  /* width: 90px; */
  padding: 1.25rem 1.25rem;
  display: flex;
  border-radius: 3rem;
  border-color: #20a564;
  border-width: 2.5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 4px; */
  transition: all 0.1s linear;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.label:has(input[type="checkbox"]:checked) {
  box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
  background: #20a564;
}

.label .text {
  color: black;
  font-size: 15px;
  line-height: 12px;
  padding: 0px;
  font-weight: 400;
  transition: all 0.1s linear;
}

.label input[type="checkbox"]:checked + .text {
  color: white;
}

input[type="radio"] {
  height: 30px;
  width: 30px;
  accent-color: #20a564;
  border-radius: 0;
}

.sradio-label {
  cursor: pointer;
  input {
    display: none;
  }
}

.sradio-label span {
  position: relative;
  /* line-height: 10px; */
  display: flex;
  align-items: center;
}

.sradio-label span:before,
.sradio-label span:after {
  content: "";
}

.sradio-label span:before {
  border: 1px solid #20a564;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 2px;
  display: inline-block;
  padding-top: 5px;
}

.sradio-label span:after {
  background: #20a564;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 8px;
  left: 3px;
  transition: 300ms;
  opacity: 0;
}

.sradio-label input:checked + span:after {
  opacity: 1;
}
